@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

/* header section style */
#head {
    margin: 50px 0px 100px 0px;
}

.header_content {
    width: 1180px;
    margin: 0 auto;
}

#head .header_content {
    background-image: url('../resources/banner_img.png');
    padding: 190px 0px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    
}
.header_content .header_text h3 {
    font-size: 28px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.header_content .header_text h1 {
    font-size: 65px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #fff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

/* offer section style */
#offer_part {
    width: 1180px;
    margin: 0 auto;
}

.offer_content .offer_text h2 {
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FF0000;
    text-align: center;
}

.offer_content .offer_text p {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    text-align: center;
    margin: 40px 0px 15px 0px;
}

.offer_content .offer_text h3 {
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #070211;
    text-align: center;
    margin-bottom: 40px;
}

.offer_image {
    width: 700px;
    margin: 0 auto;
}

.offer_image img {
    width: 100%;
    margin-bottom: 100px;
}

/* party section style */
#party_part {
    width: 1180px;
    margin: 0 auto;
}

.party_content {
    background-image: url('../resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 60px 110px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    /* background-color: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}

.party_content .party_text h2 {
    font-size: 55px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #fff;
    width: 550px;
    margin-top: 50px;
}

.party_content .party_text p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
    width: 640px;
    margin-top: 18px;
}

.party_button {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: none;
    background: #FF0000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 8px;
    margin-top: 40px;
    transition: all linear .3s;
}

.party_button:hover {
    background: #fff;
    color: #FF0000;
}

/* date time section style */
#date_time {
    width: 1180px;
    margin: 0 auto;

}

.date_time_content {
    background-image: linear-gradient(rgba(255, 0, 0, 0.10), #fff);
    padding: 90px 0px 30px 0px;
    border-radius: 15px;
}

.date_time_content h2 {
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #070211;
    text-align: center;
    margin-bottom: 10px;
}

.date_time_content h2 span {
    color: #FF0000;
}

.midnight_button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.midnight_button .midnight:hover {
    background: rgba(255, 0, 0, 0.10);
}

/* comming soon section style */
#comming_soon {
    width: 1180px;
    margin: 0 auto;
}

.comming_soon_content {
    margin: 150px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comming_title .red {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FF0000;
    text-transform: uppercase;
}

.comming_title h2 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #070211;
    margin-top: 15px;
}

.comming_title p {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 15px;
    width: 360px;
}

.comming_image {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 12px solid #FF0000;
}

.comming_image img {
    width: 320px;
    margin: 19px 0px 0px 19px;
}

.comming_year h3 {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FF0000;
}

.comming_year p {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    margin: 15px 0px 35px 0px;
    width: 245px;
}

.comming_year img {
    width: 120px;
}

/* discount section style */
#discount {
    width: 1180px;
    margin: 0 auto;
}

.discount_head .p_one{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #070211;
    text-align: center;
    text-transform: uppercase;
}
.discount_head h2{
    color: #070211;
    font-size: 62px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    text-align: center;
    margin-top: 15px;
}
.discount_head .p_two{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    margin: 0 auto;
    line-height: 25px;
    margin-top: 25px;
    width: 640px;
    text-align: center;
}
.discount_item{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 195px;
    
}
.discount_item .discount_col_one{
    width: 600px;
} 
.discount_col_one img{
    width: 600px;
    height: 520px;
    
}
.discount_item .discount_col_two{
    width: 520px;
}
.discount_col_two{
    position: relative;
}
.discount_col_two .women{
    width: 385px;
    height: 390px;
    
}
.discount_col_two .fifty{
    width: 180px; 
    position: absolute;
    top: 28%;
    left: -18%;
}
.discount_content{
    position: relative;
}
.discount_content .red_rectungle{
    width: 100%;
    height: 150px;
    background-color: #FF0000;
    position: absolute;
    top: 83%;
    left: 0;
    z-index: -1;
}
/* portfolio section style */
#portfolio_part{
    width: 1180px;
    margin: 0 auto;
    margin-top: 120px;
}
.portfolio_head .red_text{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FF0000;
    text-transform: uppercase;
}
.portfolio_head h2{
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #070211;
    margin: 15px 0px;
}
.portfolio_head p{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    width: 820px;
    margin-bottom: 42px;
}
.image_row_one{
    display: flex;
    justify-content: space-between;
}
.image_row_one img{
    width: 375px;
}
.image_row_one .image{
    transition: all linear .3s;
    overflow: hidden;
}
.image_row_one .image:hover {
    transform: scale(1.1); 
}
.image_row_two{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.image_row_two img{
    width: 375px;
}
.image_row_two .image{
    transition: all linear .3s;
    overflow: hidden;
}
.image_row_two .image:hover {
    transform: scale(1.1); 
}
/* .image_row_two:hover img{
    transform: scale(1.1);
} */
